<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BookmindAlfa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1920E5661CBD4B0C00C88073</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1920E57A1CBD4B0C00C88073</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1920E5851CBD4B0C00C88073</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
